# Dependabot configuration:
# https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for Gradle dependencies
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: weekly
      day: wednesday
      time: "09:00"
      timezone: Asia/Seoul
    groups:
      default:
        patterns:
          - "*"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
      time: "12:00"
      timezone: Asia/Seoul

  - package-ecosystem: dotnet-sdk
    directory: rider/
    schedule:
      interval: weekly
      day: wednesday
      time: "09:00"
      timezone: Asia/Seoul
